# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore old/backup deployment files
.github/workflows/deploy_gpt.yml
.github/workflows/deploy_old.yml

# Ignore downloaded S3 bucket contents
S3_Buckets/

# Ignore temporary files
commit_message.txt